<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link type="image/x-icon" href="/favicon.ico/favicon.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="/favicon.ico/favicon.ico" rel="icon">
    <style>
        .login-form {
            width: 400px;
            height: 400px;
            margin: 1rem auto;
        }

        {
            width: 100%;
        }

        .input-group label {
            display: block;
        }

        .input-group input {
            width: 100%;
        }

        button {
            padding: 10px 17px;
            margin-top: 1rem;
            font-size: 1rem;
            background: #eee;
            border: 1px solid #333;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="login-form">
    <h3>Login as</h3>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/admin/login" class="nav-link">Admin</a></li>
            <li class="nav-item"><a href="/" class="nav-link">Dataminer</a></li>
            <li class="nav-item"><a href="/" class="nav-link">User</a></li>
        </ul>
    </header>
</div>
</body>
</html>
